body {
    padding-left: 13em;
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: rgb(252, 237, 252);
    background-color: #201b3f }

  ul.navbar {
    text-align; center
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }

  h1 {
    font-family:<'Times news Roman'}

  ul.navbar li {
    background: rgb(116, 218, 199);
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid rgb(226, 184, 104) }

  ul.navbar a {
    text-decoration: none }

  a:link {
    color: blue }
  a:visited {
    color: purple }
  address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted }